.page {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 400;
    background-color: var(--white-color);

    @media screen and (max-width: 767px) {padding-top: 60px;}

}

.page .modal-open {
            overflow: hidden;
        }
